### KMeans Within Four Age Groups

#### Import necessary packages

In [1]:
import pandas as pd
from sklearn.cluster import KMeans

In [2]:
import psycopg2

In [3]:
#make sure to change input to connection to ur postgres account 
conn = psycopg2.connect(
    host="localhost",
    database="mimic",
    user="postgress"
#     ,password= [your password], 
#     port = "5431" [port assigned to your db])
cursor = conn.cursor()

In [4]:
sql = """
SELECT * FROM ELIXHAUSER_MATCH;
"""

#### Import CSV file from running the helper_script file "selected_dataset.sql" and converting the returned table into a csv

In [5]:
merged_table = pd.read_sql_query(sql, conn)

/var/folders/07/9pcptmds0fl8q4v1tqm04jph0000gn/T/ipykernel_8866/2705657972.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  merged_table = pd.read_sql_query(sql, conn)

In [6]:
conn.close()

#### Split up the age groups into 5 different age groups

In [7]:
age_group_1 = merged_table[(merged_table['rounded_age'] >= 16) &  (merged_table['rounded_age'] < 24)]
age_group_2 = merged_table[(merged_table['rounded_age'] >= 24) &  (merged_table['rounded_age'] < 44)]
age_group_3 = merged_table[(merged_table['rounded_age'] >= 44) &  (merged_table['rounded_age'] < 64)]
age_group_4 = merged_table[(merged_table['rounded_age'] >= 64) &  (merged_table['rounded_age'] < 84)]
age_group_5 = merged_table[(merged_table['rounded_age'] >= 84)]

#### Find the disease prevelance by finding the proportion of the disease in each subgroup

In [8]:
grp_1 = age_group_1.sum()[4:-3]/len(age_group_1)
grp_2 = age_group_2.sum()[4:-3]/len(age_group_2)
grp_3 = age_group_3.sum()[4:-3]/len(age_group_3)
grp_4 = age_group_4.sum()[4:-3]/len(age_group_4)
grp_5 = age_group_5.sum()[4:-3]/len(age_group_5)

In [9]:
disease_prevelance = pd.DataFrame({'group_1': grp_1, 'group_2': grp_2, 'group_3': grp_3, 'group_4': grp_4, 'group_5': grp_5})

#### Run the KMeans algorithm on the dataset

In [16]:
kmeans = KMeans(n_clusters = 3)
kmeans.fit(disease_prevelance)
clusters = kmeans.fit_predict(disease_prevelance)

# dict to store clusters data
cluster_dict=[]
for c in clusters:
    cluster_dict.append(c)

# prints the cluster dict
disease_prevelance['cluster'] = cluster_dict

/Users/rihanamohamed/anaconda3/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
/Users/rihanamohamed/anaconda3/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

#### Cluster 0

In [17]:
disease_prevelance[disease_prevelance['cluster'] == 0]

,group_1,group_2,group_3,group_4,group_5,cluster
pulmonary_circulation,0.018595,0.034584,0.051233,0.065666,0.082786,0
peripheral_vascular,0.012397,0.021189,0.052658,0.107019,0.097313,0
paralysis,0.014463,0.027521,0.027754,0.026345,0.029453,0
other_neurological,0.089876,0.122991,0.110096,0.093584,0.103284,0
diabetes_complicated,0.007231,0.033609,0.058779,0.064618,0.038806,0
hypothyroidism,0.009298,0.040429,0.073118,0.110623,0.161791,0
liver_disease,0.050620,0.116415,0.150344,0.059571,0.027861,0
peptic_ulcer,0.004132,0.004384,0.008553,0.008651,0.011144,0
aids,0.000000,0.013151,0.011488,0.001049,0.000398,0
lymphoma,0.001033,0.010960,0.010565,0.015466,0.013333,0
metastatic_cancer,0.003099,0.025329,0.066577,0.060948,0.037214,0
solid_tumor,0.001033,0.006576,0.025910,0.036569,0.030448,0
rheumatoid_arthritis,0.008264,0.016318,0.025071,0.037093,0.039801,0
coagulopathy,0.052686,0.099854,0.112947,0.103480,0.091741,0
obesity,0.013430,0.049927,0.073201,0.048103,0.007761,0
weight_loss,0.012397,0.027277,0.038236,0.039059,0.042985,0
blood_loss_anemia,0.004132,0.009985,0.017441,0.019988,0.024876,0
deficiency_anemias,0.022727,0.028008,0.020963,0.022413,0.041592,0
alcohol_abuse,0.170455,0.167560,0.138269,0.041156,0.007363,0

#### Cluster 1

In [18]:
disease_prevelance[disease_prevelance['cluster'] == 1]

,group_1,group_2,group_3,group_4,group_5,cluster
congestive_heart_failure,0.027893,0.064540,0.156046,0.297923,0.431841,1
valvular_disease,0.015496,0.034096,0.070937,0.139131,0.187264,1
chronic_pulmonary,0.078512,0.106917,0.170803,0.246805,0.222090,1
diabetes_uncomplicated,0.013430,0.063322,0.178518,0.247264,0.191841,1
renal_failure,0.014463,0.042864,0.085444,0.150141,0.203980,1
fluid_electrolyte,0.176653,0.263517,0.271088,0.283832,0.336517,1

#### Cluster 2

In [19]:
disease_prevelance[disease_prevelance['cluster'] == 2]

                      group_1   group_2   group_3   group_4   group_5  cluster
cardiac_arrhythmias  0.091942  0.116659  0.213902  0.438364  0.566965        2
hypertension         0.035124  0.187043  0.476103  0.655023  0.683781        2